/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 28.445px;
    font-family: raleway,serif;
    font-weight: 700;
    height: 34.125px;

    color: rgb(205, 95, 248);
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    line-height: 34.134px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    margin-bottom: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    text-size-adjust: 100%;
    text-wrap-mode: nowrap;
    text-align: center;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
   
}
.btn {
     background-color: rgba(147,76,206,0.37);
     border-bottom-color: rgb(98,54,134);
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-image-outset: 0;
     border-image-repeat: stretch;
     border-image-slice: 100%;
     border-image-source: none;
     border-image-width: 1px;
     border-left-color: rgb(98,54,134);
     border-left-style: solid;
     border-left-width: 1px;
     border-right-color: rgb(98,54,134);
     border-right-style: solid;
     border-right-width: 1px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     border-top-style: solid;
     border-top-width: 1px;
     box-sizing: border-box;
     color: rgb(255,255,255);
     cursor: pointer;
     display: inline-block;
     font-family: raleway,serif;
     font-size: 30px;
     font-weight: 400;
     height: 54.8125;
     line-height: 22.4px;
     list-style-image: none;
     list-style-position: outside;
     list-style-type: none;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 4px;
     padding-left: 17.6px;
     padding-right: 17.6px;
     padding-top: 4px;
     position: relative;
     text-align: center;
     text-decoration-color:rgb(255,255,255) ;
     text-decoration-line: none;
     text-decoration-style: solid;
     text-decoration-thickness: auto;
     text-size-adjust: 100%;
     transition-delay: 0s;
     transition-duration: 0.3s;
     transition-property: all;
     transition-timing-function: ease;
     user-select: none;
     vertical-align: middle;
     width: 56.375px;
     z-index: 1;

     
}
/* main style */

header{
    background-color: rgb(33,37,41);
    padding-top: 12.8px;
    background:url(../Images/home-bg.jpg),rgb(33,37,41);
    
   
}

nav{
     width: 49%;
    max-width: 1120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}
nav .menu li a {
    box-sizing: border-box;
    color: rgb(199, 112,240);
    cursor: pointer;
    display: block;
    font-family: Raleway,serif;
    font-size: 19.2px;
    font-weight: 400;
    height: 83.1875px;
    line-height: 28.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-x: hidden;
   overflow-y: hidden;
   padding-bottom: 12.8px;
   padding-left: 16px;
   padding-left: 16px;
   padding-top: 12,8px;
   position: relative;
   text-align: center;
   text-decoration-color: rgb(199,112,240);
   text-decoration-line: none;
   text-decoration-style: solid;
   text-decoration-thickness: auto;
   text-size-adjust: 100%;
   transition-delay: 0s;
   transition-duration: 0.3s;
   transition-property: all;
   width: 86.6562px;
   z-index: 1;
}
#banner{
    /* border: 1px solid red; */
    margin: 10px 250px 0px 300px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    ;
}
#banner .banner-content h2{
    font-size: 35px;
    font-weight: 500;
    color: antiquewhite;
}
 #banner .banner-content h1{
    font-size: 45px;
    font-weight: 500;
    color:rgb(205, 95, 248)

 } 
 #banner .banner-content h3{
    font-size: 20px;
    font-weight: 500;
    color:rgb(205, 95, 248)
 }
#banner .banner-image img{
    max-width:350px ;
    vertical-align: middle;
}
#experience{
    padding-top: 600px;
   

}
#experience .experience-container{
    width:60%;
    max-width: 1140px;
    margin: 0 auto;
    
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}
.section-heading h1{
    font-size: 35px;
    margin-bottom: 30px;
    color: rgb(255,255,255);
}
.section-heading p{
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    color:rgb(255,255,255);
}
#experience .experience-container .experience-box{
    display: flex;
    gap: 25px;
   
}
.experience-box .experience-card{
    padding: 30px;
    /* border:1px solid red ; */
    box-sizing: border-box;
    max-width: 1100px;
    box-shadow: 0 6px 50px 0 #842ade;
    cursor:pointer;
}
.experience-card img{
    box-sizing: border-box;
    margin-bottom: 15px;
    color: rgb(199, 112,240);
    text-align: center;
    text-size-adjust: 100%;
    vertical-align: middle;
    stroke: rgb(199, 112,240);
    fill: none;
    font-family:Raleway, serif ;
    font-size: 48px;
    font-weight: 400;
    height: 48px;
    overflow-clip-margin: content-box;
    overflow-x: hidden;
    overflow-y: hidden;
    stroke-width: 2px;
    width: 48px;

    
}
.experience-card h3{
    font-size: 28.8px;
    color:rgb(255,255,255) ;
    font-family: Raleway, serif;
    font-weight: 700;
    line-height: 34.56px;
    margin-block-start: 0px;
    margin-block-end: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}
.experience-card p{
    box-sizing: border-box;
    color:rgb(184, 184, 209) ;
    display: block;
    font-family:Raleway, serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text: size adjust 100%;
    unicode-bidi: isolate;
}
.navigation{
    width: 420px;
    height: 70px;
    background: #209cff;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 10px;
    animation-delay: inherit;
    @keyframes myAnimation{
        from{background-color:red;}
        to {background
        }
    }
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
